<div class="col-xs-8" id="left">

  <h2>My Locations</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each}}
      <tr>
        <td>{{name}}</td>
        <td>{{address}}</td>
        <td>
          <button class="btn btn-primary btn-xs" {{action "updateMap" this}}>See Location</button>
          <button class="btn btn-default btn-xs" {{action "removePlace" this}}>Remove</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{google-map latitude=currentLat longitude=currentLng address=currentAddr}}

<div class="col-xs-4">

</div>