<div class="col-xs-8" id="left">

  <h2>My Locations</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each controller}}
        {{#if isEditing}}
          <tr>
            <td>{{input class="form-control" value=name}}</td>
            <td>{{google-map-autocomplete value=address}}</td>
            <td>
              <button class="btn btn-primary btn-xs" {{action "updatePlace" this}}>Save</button>
              <button class="btn btn-default btn-xs" {{action "cancel" this}}>Cancel</button>
            </td>
          </tr>
          {{else}}
          <tr>
            <td>{{name}}</td>
            <td>{{address}}</td>
            <td>
              <button class="btn btn-primary btn-xs" {{action "updateMap" this}}>See Location</button>
              <button class="btn btn-primary btn-xs" {{action "editPlace"}}>Edit</button>
              <button class="btn btn-default btn-xs" {{action "removePlace" this}}>Remove</button>
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>
{{google-map latitude=currentLat longitude=currentLng address=currentAddr}}

<div class="col-xs-4">

</div>